In [13]:
import pandas as pd
import pyarrow.parquet as pq
import datetime

```
pip install sqlalchemy psycopg2-binary 
```

In [14]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [15]:
engine.connect()

In [20]:
# cur = engine.cursor()
table_name = "yellow_tripdata_trip"  # Replace with the actual table name
engine.execute("DROP TABLE IF EXISTS %s;" % table_name)

In [24]:
query = "SELECT 1 as its_working;"

pd.read_sql(query, con=engine)

   its_working
0            1

In [30]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_tripdata_trip,root,None,True,False,False,False
1,public,green_tripdata_trip,root,None,True,False,False,False
2,public,taxi_zone,root,None,True,False,False,False

In [26]:
# reading in parquet files and output as CSV 
# trips = pq.read_table('yellow_tripdata_2019-09.parquet')
# df_trips = trips.to_pandas()

df = pd.read_csv('green_tripdata_2019-09.csv',nrows=100)

df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

In [27]:
#loop over to try and  get data into postgres -CSV --> green_tripdata
from time import time

#show time started
print("Started: %s" % datetime.datetime.now())

#reading in CSV
df_iter = pd.read_csv('green_tripdata_2019-09.csv',iterator=True,chunksize=100000 ,low_memory=False)
for batch in df_iter:
    t_start = time()
    
    df = batch
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.to_sql(name='green_tripdata_trip', con=engine, if_exists="append")
    
    t_end = time()  
    print("New chunk inserted: %.3f elapsed" % (t_end - t_start))

print("Ended: %s" % datetime.datetime.now())

Started: 2024-01-29 13:09:38.057758
New chunk inserted: 7.934 elapsed
New chunk inserted: 7.657 elapsed
New chunk inserted: 8.344 elapsed
New chunk inserted: 9.219 elapsed
New chunk inserted: 3.771 elapsed
Ended: 2024-01-29 13:10:15.694417

In [29]:
#loop over to try and  get data into postgres -CSV --> taxi+_zone_lookup.csv
from time import time

#show time started
print("Started: %s" % datetime.datetime.now())

#reading in CSV
df_iter = pd.read_csv('taxi+_zone_lookup.csv',iterator=True,chunksize=100000 ,low_memory=False)
for batch in df_iter:
    t_start = time()
    
    df = batch
    df.to_sql(name='taxi_zone', con=engine, if_exists="append")
    
    t_end = time()  
    print("New chunk inserted: %.3f elapsed" % (t_end - t_start))

print("Ended: %s" % datetime.datetime.now())

Started: 2024-01-29 13:12:37.375205
New chunk inserted: 0.087 elapsed
Ended: 2024-01-29 13:12:37.464362

In [22]:
#loop over to try and  get data into postgres - parquet
from time import time

#show time started
print("Started: %s" % datetime.datetime.now())

#reading in parquet
parquet_file = pq.ParquetFile('yellow_tripdata_2019-09.parquet')
for batch in parquet_file.iter_batches(batch_size=100000):
    t_start = time()
    
    df = batch.to_pandas()
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_tripdata_trip', con=engine, if_exists="append")
    
    t_end = time()  
    print("New chunk inserted: %.3f elapsed" % (t_end - t_start))
    
print("Ended: %s" % datetime.datetime.now())

Started: 2024-01-29 12:39:40.966172
New chunk inserted: 7.189 elapsed
New chunk inserted: 6.854 elapsed
New chunk inserted: 6.677 elapsed
New chunk inserted: 7.086 elapsed
New chunk inserted: 6.704 elapsed
New chunk inserted: 7.533 elapsed
New chunk inserted: 7.319 elapsed
New chunk inserted: 8.400 elapsed
New chunk inserted: 8.404 elapsed
New chunk inserted: 8.494 elapsed
New chunk inserted: 7.952 elapsed
New chunk inserted: 8.511 elapsed
New chunk inserted: 8.871 elapsed
New chunk inserted: 8.500 elapsed
New chunk inserted: 9.511 elapsed
New chunk inserted: 9.175 elapsed
New chunk inserted: 9.498 elapsed
New chunk inserted: 7.395 elapsed
New chunk inserted: 8.375 elapsed
New chunk inserted: 7.530 elapsed
New chunk inserted: 8.326 elapsed
New chunk inserted: 8.693 elapsed
New chunk inserted: 8.267 elapsed
New chunk inserted: 8.132 elapsed
New chunk inserted: 9.345 elapsed
New chunk inserted: 9.108 elapsed
New chunk inserted: 8.258 elapsed
New chunk inserted: 7.927 elapsed
New chunk inserted: 8.614 elapsed
New chunk inserted: 9.203 elapsed
New chunk inserted: 8.677 elapsed
New chunk inserted: 9.835 elapsed
New chunk inserted: 11.340 elapsed
New chunk inserted: 9.082 elapsed
New chunk inserted: 7.878 elapsed
New chunk inserted: 6.967 elapsed
New chunk inserted: 7.220 elapsed
New chunk inserted: 8.066 elapsed
New chunk inserted: 8.367 elapsed
New chunk inserted: 8.628 elapsed
New chunk inserted: 8.357 elapsed
New chunk inserted: 9.123 elapsed
New chunk inserted: 8.557 elapsed
New chunk inserted: 8.045 elapsed
New chunk inserted: 8.233 elapsed
New chunk inserted: 9.726 elapsed
New chunk inserted: 8.858 elapsed
New chunk inserted: 9.058 elapsed
New chunk inserted: 7.889 elapsed
New chunk inserted: 9.293 elapsed
New chunk inserted: 8.824 elapsed
New chunk inserted: 10.399 elapsed
New chunk inserted: 9.628 elapsed
New chunk inserted: 8.513 elapsed
New chunk inserted: 10.014 elapsed
New chunk inserted: 9.245 elapsed
New chunk inserted: 9.385 elapsed
New chunk inserted: 8.378 elapsed
New chunk inserted: 8.767 elapsed
New chunk inserted: 9.677 elapsed
New chunk inserted: 8.957 elapsed
New chunk inserted: 8.618 elapsed
New chunk inserted: 8.105 elapsed
New chunk inserted: 7.510 elapsed
New chunk inserted: 7.938 elapsed
New chunk inserted: 4.802 elapsed
Ended: 2024-01-29 12:48:59.325964

In [ ]:
query = "SELECT COUNT(*) FROM yellow_tripdata_trip;"
query = "SELECT DATE(tpep_pickup_datetime) pickup FROM yellow_tripdata_trip GROUP BY 1 ORDER BY 1;"

pd.read_sql(query, con=engine)

```sql
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
```

Source: https://www.postgresqltutorial.com/postgresql-show-tables/